@import "tailwindcss";

*, *::before, *::after {
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 20px;
  background-color: #ffeff4;
  color: #B2004A;
}

body {
  background: transparent;
}
